---
import BaseHead from "../components/BaseHead.astro";
import Footer from "../components/Footer.astro";
import Header from "../components/Header.astro";

type Props = {
  title: string;
  content: string;
  headMetaTags: string;
};

const { title, content, headMetaTags } = Astro.props;

---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead metaTags={headMetaTags} />
	</head>
	<body>
		<Header />
		<main>
			<h1 set:html={title} />
			<Fragment set:html={content}></Fragment>
		</main>
		<Footer />
	</body>
</html>