---
import 'vanilla-cookieconsent/dist/cookieconsent.css';
// import '../styles/ccElegantBlack.css';
---

<button type="button" data-cc="show-preferencesModal">
  Show preferences modal
</button>

<script>
  import { run } from "vanilla-cookieconsent";
  import { config } from "./CookieConsentConfig";

  run(config);
</script>
