---
export type Props = { title: string; description: string; };
const { title, description } = Astro.props;

// <a href="/">
//     <img src={siteConfig.logo.src} alt={siteConfig.logo.alt || ''} class="max-h-12" />
// </a>

---
<header class="w-full max-w-3xl mx-auto mb-12 sm:mb-16">
    <a class="font-serif text-2xl leading-tight font-medium text-theme-foreground sm:text-4xl" href="/" set:html={title} />
    {description && <p class="text-sm leading-tight mt-1" set:html={description} />}
</header>
