---
import BaseHead from "../components/BaseHead.astro";
import Footer from "../components/Footer.astro";
import Header from "../components/Header.astro";

type Props = {
  seoTags?: string;
}

const { seoTags } = Astro.props;
const gtmId = import.meta.env.GTM_ID;
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <slot name="head" />
    <BaseHead seoTags={seoTags} />
  </head>
  <body>
    <Header />
    <main>
      <slot name="body" />
    </main>
    <Footer />
  </body>
</html>
